div{
  height: 600px;
  width: 600px;
  border: 5px solid grey;
  margin-bottom: 10px;
}

#div1{
  background-color: rgb(5,250,89);
}

#div2{
  background-image: url("original (1).png");
}

#div3{
  background-image: url("original (1).png");
  background-repeat: repeat-x;
}

#div4{
  background-image: url("original (1).png");
  background-repeat: repeat-y;
}

#div5{
  background-image: url("original (1).png");
  background-repeat: no-repeat;
}

#div6{
  background-image: url("original (1).png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#div7{
  background-image: url("original (1).png");
  background-repeat: no-repeat;
  background-position: 50% 200px;
}

#div8{
  background-image: url("original (1).png");
  background-repeat: repeat-x;
  background-attachment: fixed;
}

#div9{
  background: red url("original (1).png") no-repeat fixed left 20px top 200px;


}
