.list1{
  list-style-type: lower-greek;
  list-style-position: outside;
}

.list2{
  list-style: square outside url(original.png);
}

.list3{
  list-style: square outside url(original.png);
}

.list2 > li {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(45, 10, 220, 0.7);
  margin: 10px;
}
